@using Xomorod.Helper.Resources
<section class="separator-one" id="ribbon_bottom">
    <div class="color-overlay">
        <h3 class="container text" data-scrollreveal="enter left after 0s over 1s">@Localization.XomorodMoreInfo</h3>
        <div data-scrollreveal="enter right after 0s over 1s">
            <a onclick="document.getElementById('contactLink').click()" class="btn btn-primary custom-button green-btn">@Localization.ContactUs</a>
        </div>
    </div>
</section>
