<section class="latest-news" id="latestnews">
    <div class="container">
        <div class="section-header">
            <h2 class="dark-text">Blog / Latest News</h2>
            <h6 class="dark-text">Your latest posts displayed inside a nice slider. You can customize what the slider looks like.</h6>
        </div>
        <div class="clear"></div>
        <div id="carousel-homepage-latestnews" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="col-sm-3 latestnews-box">
                        <div class="latestnews-img">
                            <a href="http://demo.themeisle.com/zerif-pro/2015/04/23/everything-mobile-friendly-and-responsive/" title="Everything Mobile-Friendly and Responsive">
                                <img width="250" height="250" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_510,w_510,x_157,y_0/h_250,w_250/v1451479731/photo-1429041966141-44d228a42775-825x510_wgrte6.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="photo-1429041966141-44d228a42775-825x510" /><noscript><img width="250" height="250" src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_510,w_510,x_157,y_0/h_250,w_250/v1451479731/photo-1429041966141-44d228a42775-825x510_wgrte6.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="photo-1429041966141-44d228a42775-825x510" /></noscript>
                            </a>
                        </div>
                        <div class="latesnews-content">
                            <h5 class="latestnews-title"><a href="http://demo.themeisle.com/zerif-pro/2015/04/23/everything-mobile-friendly-and-responsive/" title="Everything Mobile-Friendly and Responsive">Everything Mobile-Friendly and Responsive</a></h5>
                            <p>Go ahead and try resizing the browser window. Things are going to continue looking great!</p>
                        </div>
                    </div>
                    <div class="col-sm-3 latestnews-box">
                        <div class="latestnews-img">
                            <a href="http://demo.themeisle.com/zerif-pro/2015/04/23/change-the-order-of-sections/" title="Change the Order of Sections">
                                <img width="250" height="250" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_510,w_510,x_157,y_0/h_250,w_250/v1451479699/Louis_Armstrong_restored-825x510_j11dvy.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="Louis_Armstrong_restored-825x510" /><noscript><img width="250" height="250" src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_510,w_510,x_157,y_0/h_250,w_250/v1451479699/Louis_Armstrong_restored-825x510_j11dvy.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="Louis_Armstrong_restored-825x510" /></noscript>
                            </a>
                        </div>
                        <div class="latesnews-content">
                            <h5 class="latestnews-title"><a href="http://demo.themeisle.com/zerif-pro/2015/04/23/change-the-order-of-sections/" title="Change the Order of Sections">Change the Order of Sections</a></h5>
                            <p>The order of the sections is easily adjustable from the WordPress Customizer so you can display where is needed.</p>
                        </div>
                    </div>
                    <div class="col-sm-3 latestnews-box">
                        <div class="latestnews-img">
                            <a href="http://demo.themeisle.com/zerif-pro/2015/04/23/unlimited-color-schemes/" title="Unlimited Color Schemes For You Site">
                                <img width="250" height="250" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_510,w_510,x_157,y_0/h_250,w_250/v1451479684/photo-1429000263672-1b8b4008d2f7-825x510_cceneb.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="photo-1429000263672-1b8b4008d2f7-825x510" /><noscript><img width="250" height="250" src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_510,w_510,x_157,y_0/h_250,w_250/v1451479684/photo-1429000263672-1b8b4008d2f7-825x510_cceneb.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="photo-1429000263672-1b8b4008d2f7-825x510" /></noscript>
                            </a>
                        </div>
                        <div class="latesnews-content">
                            <h5 class="latestnews-title"><a href="http://demo.themeisle.com/zerif-pro/2015/04/23/unlimited-color-schemes/" title="Unlimited Color Schemes For You Site">Unlimited Color Schemes For You Site</a></h5>
                            <p>Use the theme options panel to customize any given element with the exact color that you desire.</p>
                        </div>
                    </div>
                    <div class="col-sm-3 latestnews-box">
                        <div class="latestnews-img">
                            <a href="http://demo.themeisle.com/zerif-pro/2015/04/05/excellent-support/" title="Excellent Support And Timely Updates">
                                <img width="250" height="250" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_510,w_510,x_157,y_0/h_250,w_250/v1451479687/photo-1428856472086-8674d9cbd6bc-825x510_abkoxx.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="photo-1428856472086-8674d9cbd6bc-825x510" /><noscript><img width="250" height="250" src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_510,w_510,x_157,y_0/h_250,w_250/v1451479687/photo-1428856472086-8674d9cbd6bc-825x510_abkoxx.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="photo-1428856472086-8674d9cbd6bc-825x510" /></noscript>
                            </a>
                        </div>
                        <div class="latesnews-content">
                            <h5 class="latestnews-title"><a href="http://demo.themeisle.com/zerif-pro/2015/04/05/excellent-support/" title="Excellent Support And Timely Updates">Excellent Support And Timely Updates</a></h5>
                            <p>Mauris tempor varius enim bibendum pellentesque. Pellentesque malesuada at velit et congue.</p>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="item">
                    <div class="col-sm-3 latestnews-box">
                        <div class="latestnews-img">
                            <a href="http://demo.themeisle.com/zerif-pro/2014/08/05/easy-to-contact/" title="Fast And Great Support">
                                <img width="250" height="250" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_600,w_600,x_100,y_0/h_250,w_250/v1451480038/jibjabprocess_yiid73.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="jibjabprocess" /><noscript><img width="250" height="250" src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_600,w_600,x_100,y_0/h_250,w_250/v1451480038/jibjabprocess_yiid73.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="jibjabprocess" /></noscript>
                            </a>
                        </div>
                        <div class="latesnews-content">
                            <h5 class="latestnews-title"><a href="http://demo.themeisle.com/zerif-pro/2014/08/05/easy-to-contact/" title="Fast And Great Support">Fast And Great Support</a></h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at placerat lacus, vitae feugiat erat. In blandit velit ut consequat bibendum.</p>
                        </div>
                    </div>
                    <div class="col-sm-3 latestnews-box">
                        <div class="latestnews-img">
                            <a href="http://demo.themeisle.com/zerif-pro/2014/07/15/thank-you/" title="Thank You!">
                                <img width="250" height="250" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_400,w_400,x_100,y_0/h_250,w_250/v1451480017/Thank-you1-e1405429544670_df94ru.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="Thank-you1-e1405429544670" /><noscript><img width="250" height="250" src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_400,w_400,x_100,y_0/h_250,w_250/v1451480017/Thank-you1-e1405429544670_df94ru.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="Thank-you1-e1405429544670" /></noscript>
                            </a>
                        </div>
                        <div class="latesnews-content">
                            <h5 class="latestnews-title"><a href="http://demo.themeisle.com/zerif-pro/2014/07/15/thank-you/" title="Thank You!">Thank You!</a></h5>
                            <p>We wish to thank the following people for the images: Fora do Eixo, RL Johnson, Daniele Zedda, Daniele Zedda, John Steven Fernandez, xvire1969, AllansBrain, Sara Cimino, soundman1024, Gagilas, Symic, rolands.lakis, rolands.lakis, Mike, alicjacolon, Michael Sevilla, Meng To, FireArt Studio.</p>
                        </div>
                    </div>
                    <div class="col-sm-3 latestnews-box">
                        <div class="latestnews-img">
                            <a href="http://demo.themeisle.com/zerif-pro/2014/06/05/regular-updates/" title="Regular Updates">
                                <img width="250" height="250" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_600,w_600,x_100,y_0/h_250,w_250/v1451480039/chapter4-800_yqrf2g.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="chapter4-800" /><noscript><img width="250" height="250" src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_600,w_600,x_100,y_0/h_250,w_250/v1451480039/chapter4-800_yqrf2g.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="chapter4-800" /></noscript>
                            </a>
                        </div>
                        <div class="latesnews-content">
                            <h5 class="latestnews-title"><a href="http://demo.themeisle.com/zerif-pro/2014/06/05/regular-updates/" title="Regular Updates">Regular Updates</a></h5>
                            <p>Nullam posuere, tellus sed eleifend ultricies, magna ligula dictum felis, id pellentesque lectus libero tempus lectus. Pellentesque volutpat nunc eget erat ultrices, et accumsan massa sodales. Pellentesque nisi eros, commodo non nisl at, condimentum sodales enim. Sed euismod laoreet erat, in condimentum sapien interdum non. Pellentesque sagittis dolor vel laoreet lacinia.</p>
                        </div>
                    </div>
                    <div class="col-sm-3 latestnews-box">
                        <div class="latestnews-img">
                            <a href="http://demo.themeisle.com/zerif-pro/2014/06/05/excerpt/" title="Fast &amp; Simple Installation">
                                <img width="250" height="250" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_600,w_600,x_100,y_0/h_250,w_250/v1451480038/dribble_app_icon_vpmhhj.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="dribble_app_icon" /><noscript><img width="250" height="250" src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_600,w_600,x_100,y_0/h_250,w_250/v1451480038/dribble_app_icon_vpmhhj.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="dribble_app_icon" /></noscript>
                            </a>
                        </div>
                        <div class="latesnews-content">
                            <h5 class="latestnews-title"><a href="http://demo.themeisle.com/zerif-pro/2014/06/05/excerpt/" title="Fast &amp; Simple Installation">Fast &amp; Simple Installation</a></h5>
                            <p>This is a post excerpt.</p>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-homepage-latestnews" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span><span class="sr-only">Previous</span></a><a class="right carousel-control" href="#carousel-homepage-latestnews" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><span class="sr-only">Next</span></a>
        </div>
    </div>
</section>
