<section class="packages" id="pricingtable">
    <div class="container">
        <div class="section-header">
            <h2 class="white-text">(New ) Packages and pricing table</h2>
            <h6 class="white-text">Create an attractive-looking pricing section for your products.</h6>
        </div>
        <div class="row">
            <div class="package-box-wrap col-lg-3 col-md-6 col-sm-6">
                <div class="package" data-scrollreveal="enter left after 0s over 1s">
                    <div class="package-header" style="background: #34d293">
                        <h5>BASIC</h5>
                    </div>
                    <div class="price dark-bg">
                        <div class="price-container">
                            <h4><span class="dollar-sign">$</span>15</h4>
                            <span class="price-meta">/MO</span>
                        </div>
                    </div>
                    <ul>
                        <li>100GB Storage</li>
                        <li>All Themes</li>
                        <li>Access to Tutorials</li>
                        <li>Auto Backup</li>
                        <li>Extended Security</li>
                    </ul>
                    <a href="#" class="btn btn-primary custom-button" style="background: #34d293">SIGN UP</a>
                </div>
            </div>
            <div class="package-box-wrap col-lg-3 col-md-6 col-sm-6">
                <div class="package" data-scrollreveal="enter left after 0s over 1s">
                    <div class="package-header" style="background: #3ab0e2">
                        <h5>STANDARD</h5>
                    </div>
                    <div class="price dark-bg">
                        <div class="price-container">
                            <h4><span class="dollar-sign">$</span>20</h4>
                            <span class="price-meta">/ MO</span>
                        </div>
                    </div>
                    <ul>
                        <li>100GB Storage</li>
                        <li>All Themes</li>
                        <li>Access to Tutorials</li>
                        <li>Auto Backup</li>
                        <li>Extended Security</li>
                    </ul>
                    <a href="#" class="btn btn-primary custom-button" style="background: #3ab0e2">SIGN UP</a>
                </div>
            </div>
            <div class="package-box-wrap col-lg-3 col-md-6 col-sm-6">
                <div class="best-value">
                    <div class="package" data-scrollreveal="enter left after 0s over 1s">
                        <div class="package-header" style="background: #e96656">
                            <h4>PREMIUM</h4>
                            <div class="meta-text">Best Value</div>
                        </div>
                        <div class="price dark-bg">
                            <div class="price-container">
                                <h4><span class="dollar-sign">$</span>35</h4>
                                <span class="price-meta">/MO</span>
                            </div>
                        </div>
                        <ul>
                            <li>100GB Storage</li>
                            <li>All Themes</li>
                            <li>Access to Tutorials</li>
                            <li>Auto Backup</li>
                            <li>Extended Security</li>
                        </ul>
                        <a href="#" class="btn btn-primary custom-button" style="background: #e96656">SIGN UP</a>
                    </div>
                </div>
            </div>
            <div class="package-box-wrap col-lg-3 col-md-6 col-sm-6">
                <div class="package" data-scrollreveal="enter left after 0s over 1s">
                    <div class="package-header" style="background: #e7ac44">
                        <h5>ULTIMATE</h5>
                    </div>
                    <div class="price dark-bg">
                        <div class="price-container">
                            <h4><span class="dollar-sign">$</span>99</h4>
                            <span class="price-meta">/MO</span>
                        </div>
                    </div>
                    <ul>
                        <li>100GB Storage</li>
                        <li>All Themes</li>
                        <li>Access to Tutorials</li>
                        <li>Auto Backup</li>
                        <li>Extended Security</li>
                    </ul>
                    <a href="#" class="btn btn-primary custom-button" style="background: #e7ac44">SIGN UP</a>
                </div>
            </div>
        </div>
    </div>
</section>
