@using Xomorod.Helper.Resources
<section class="works" id="works">
    <div class="container">
        <div class="section-header">
            <h2 class="dark-text">@Localization.Portfolio</h2>
            <br/>
            <h6>&nbsp;</h6>
            <h6>@Localization.PortfolioSubTitle</h6>
        </div>
        <div class="row projects">
            <div id="loader">
                <div class="loader-icon"></div>
            </div>
            <div class="col-md-12" id="portfolio-list">
                <ul class="cbp-rfgrid">
                    <li data-scrollreveal="enter left after 0s over 1s">
                        <a href="http://demo.themeisle.com/zerif-pro/portfolio/dribbble-235/" class="more">
                            <img width="285" height="214" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_600,w_799,x_0,y_0/h_214,w_285/v1451480039/chapter4-800_yqrf2g.png" class="attachment-zerif_project_photo size-zerif_project_photo wp-post-image" alt="chapter4-800" /><noscript><img width="285" height="214" src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_600,w_799,x_0,y_0/h_214,w_285/v1451480039/chapter4-800_yqrf2g.png" class="attachment-zerif_project_photo size-zerif_project_photo wp-post-image" alt="chapter4-800" /></noscript>
                            <div class="project-info">
                                <div class="project-details">
                                    <h5 class="white-text red-border-bottom">Dribbble 235</h5>
                                    <div class="details white-text">Zerif</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li data-scrollreveal="enter left after 0s over 1s">
                        <a href="http://demo.themeisle.com/zerif-pro/portfolio/sush-io-business-cards/" class="more">
                            <img width="285" height="214" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_600,w_799,x_0,y_0/h_214,w_285/v1451480066/sushio_businesscards_800_opwe2q.png" class="attachment-zerif_project_photo size-zerif_project_photo wp-post-image" alt="sushio_businesscards_800" /><noscript><img width="285" height="214" src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_600,w_799,x_0,y_0/h_214,w_285/v1451480066/sushio_businesscards_800_opwe2q.png" class="attachment-zerif_project_photo size-zerif_project_photo wp-post-image" alt="sushio_businesscards_800" /></noscript>
                            <div class="project-info">
                                <div class="project-details">
                                    <h5 class="white-text red-border-bottom">Sush.io Business Cards</h5>
                                    <div class="details white-text">Zerif</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li data-scrollreveal="enter left after 0s over 1s">
                        <a href="http://demo.themeisle.com/zerif-pro/portfolio/8-days-eat-dribbble/" class="more">
                            <img width="285" height="214" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_600,w_799,x_0,y_0/h_214,w_285/v1451480066/8_days_eat_dribbble_svtwhv.jpg" class="attachment-zerif_project_photo size-zerif_project_photo wp-post-image" alt="8_days_eat_dribbble" /><noscript><img width="285" height="214" src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_600,w_799,x_0,y_0/h_214,w_285/v1451480066/8_days_eat_dribbble_svtwhv.jpg" class="attachment-zerif_project_photo size-zerif_project_photo wp-post-image" alt="8_days_eat_dribbble" /></noscript>
                            <div class="project-info">
                                <div class="project-details">
                                    <h5 class="white-text red-border-bottom">8 Days Eat Dribbble</h5>
                                    <div class="details white-text">Web Design</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li data-scrollreveal="enter left after 0s over 1s">
                        <a href="http://demo.themeisle.com/zerif-pro/portfolio/branding-mock-up-psd/" class="more">
                            <img width="285" height="214" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_600,w_799,x_0,y_0/h_214,w_285/v1451480067/dribbble-shot_zudq1q.jpg" class="attachment-zerif_project_photo size-zerif_project_photo wp-post-image" alt="dribbble-shot" /><noscript><img width="285" height="214" src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_600,w_799,x_0,y_0/h_214,w_285/v1451480067/dribbble-shot_zudq1q.jpg" class="attachment-zerif_project_photo size-zerif_project_photo wp-post-image" alt="dribbble-shot" /></noscript>
                            <div class="project-info">
                                <div class="project-details">
                                    <h5 class="white-text red-border-bottom">Branding Mock-up PSD</h5>
                                    <div class="details white-text">Web Design</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li data-scrollreveal="enter left after 0s over 1s">
                        <a href="http://demo.themeisle.com/zerif-pro/portfolio/ios-game-icon/" class="more">
                            <img width="285" height="214" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_600,w_799,x_0,y_0/h_214,w_285/v1451480067/dribbbleicon_dassvg.png" class="attachment-zerif_project_photo size-zerif_project_photo wp-post-image" alt="dribbbleicon" /><noscript><img width="285" height="214" src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_600,w_799,x_0,y_0/h_214,w_285/v1451480067/dribbbleicon_dassvg.png" class="attachment-zerif_project_photo size-zerif_project_photo wp-post-image" alt="dribbbleicon" /></noscript>
                            <div class="project-info">
                                <div class="project-details">
                                    <h5 class="white-text red-border-bottom">iOS Game icon</h5>
                                    <div class="details white-text">Web Design</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li data-scrollreveal="enter left after 0s over 1s">
                        <a href="http://demo.themeisle.com/zerif-pro/portfolio/pathfinder-character-app/" class="more">
                            <img width="285" height="214" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_600,w_799,x_0,y_0/h_214,w_285/v1451480068/pathfinder-presentation_ik7ado.png" class="attachment-zerif_project_photo size-zerif_project_photo wp-post-image" alt="pathfinder-presentation" /><noscript><img width="285" height="214" src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_600,w_799,x_0,y_0/h_214,w_285/v1451480068/pathfinder-presentation_ik7ado.png" class="attachment-zerif_project_photo size-zerif_project_photo wp-post-image" alt="pathfinder-presentation" /></noscript>
                            <div class="project-info">
                                <div class="project-details">
                                    <h5 class="white-text red-border-bottom">Pathfinder Character App</h5>
                                    <div class="details white-text">Web Design</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li data-scrollreveal="enter left after 0s over 1s">
                        <a href="http://demo.themeisle.com/zerif-pro/portfolio/creative-mints/" class="more">
                            <img width="285" height="214" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_600,w_799,x_0,y_0/h_214,w_285/v1451479726/sushio_businesscards_800_l31liu.png" class="attachment-zerif_project_photo size-zerif_project_photo wp-post-image" alt="sushio_businesscards_800" /><noscript><img width="285" height="214" src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_600,w_799,x_0,y_0/h_214,w_285/v1451479726/sushio_businesscards_800_l31liu.png" class="attachment-zerif_project_photo size-zerif_project_photo wp-post-image" alt="sushio_businesscards_800" /></noscript>
                            <div class="project-info">
                                <div class="project-details">
                                    <h5 class="white-text red-border-bottom">Creative Mints</h5>
                                    <div class="details white-text">Zerif</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li data-scrollreveal="enter left after 0s over 1s">
                        <a href="http://demo.themeisle.com/zerif-pro/portfolio/idea/" class="more">
                            <img width="285" height="214" src="data:image/gif;base64,R0lGODdhAQABAPAAAP///wAAACwAAAAAAQABAEACAkQBADs=" data-lazy-src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_300,w_400,x_0,y_0/h_214,w_285/v1451480087/dirt2_cz3fpf.jpg" class="attachment-zerif_project_photo size-zerif_project_photo wp-post-image" alt="dirt2" /><noscript><img width="285" height="214" src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_300,w_400,x_0,y_0/h_214,w_285/v1451480087/dirt2_cz3fpf.jpg" class="attachment-zerif_project_photo size-zerif_project_photo wp-post-image" alt="dirt2" /></noscript>
                            <div class="project-info">
                                <div class="project-details">
                                    <h5 class="white-text red-border-bottom">Idea</h5>
                                    <div class="details white-text">Your category</div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
