@using Xomorod.Helper.Resources
<section class="purchase-now" id="ribbon_right">
    <div class="container">
        <div class="row">
            <div class="col-md-9" data-scrollreveal="enter left after 0s over 1s">
                <h3 class="white-text">@Localization.PortfolioMoreInfo</h3>
            </div>
            <div class="col-md-3" data-scrollreveal="enter right after 0s over 1s">
                <a target="_blank" href="https://github.com/Behzadkhosravifar" class="btn btn-primary custom-button red-btn">@Localization.MoreDownloadNow</a>
            </div>
        </div>
    </div>
</section>