<section class="our-team" id="team">
    <div class="container">
        <div class="section-header">
            <h2 class="dark-text">Your Team</h2>
            <h6>Prove that you have real people working for you, with some nice looking profile pictures and links to social media.</h6>
        </div>
        <div class="row" data-scrollreveal="enter left after 0s over 2s">
            <div class="col-lg-3 col-sm-3">
                <div class="team-member">
                    <figure class="profile-pic">
                        <img src="http://demo.themeisle.com/zerif-pro/wp-content/uploads/sites/53/2014/07/wpid-Featured_Picture137-620x411-174x174.jpg" alt="JEFFREY SCHLO">
                    </figure>
                    <div class="member-details">
                        <h5 class="dark-text red-border-bottom">JEFFREY SCHLO</h5>
                        <div class="position">Project Manager</div>
                    </div>
                    <div class="social-icons">
                        <ul>
                            <li><a title="Facebook" href="#" target="_self"><i class="fa fa-facebook"></i></a></li>
                            <li><a title="Behance" href="#" target="_self"><i class="fa fa-behance"></i></a></li>
                            <li><a title="Google Plus" href="#" target="_self"><i class="fa fa-google"></i></a></li>
                            <li><a title="Tumblr" href="#" target="_self"><i class="fa fa-tumblr"></i></a></li>
                        </ul>
                    </div>
                    <div class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse erat massa, posuere a euismod vel, tincidunt ac massa. Donec sed vulputate turpis. Donec at semper lorem. Fusce et accumsan tellus.</div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="team-member">
                    <figure class="profile-pic">
                        <img src="http://demo.themeisle.com/zerif-pro/wp-content/uploads/sites/53/2014/07/wpid-Featured_Picture105-620x412-174x174.jpg" alt="KEN HOFMANN">
                    </figure>
                    <div class="member-details">
                        <h5 class="dark-text red-border-bottom">KEN HOFMANN</h5>
                        <div class="position">Photographer</div>
                    </div>
                    <div class="social-icons">
                        <ul>
                            <li><a title="Facebook" href="#" target="_self"><i class="fa fa-facebook"></i></a></li>
                            <li><a title="Twitter" href="#" target="_self"><i class="fa fa-twitter"></i></a></li>
                            <li><a title="Behance" href="#" target="_self"><i class="fa fa-behance"></i></a></li>
                            <li><a title="Dribbble" href="#" target="_self"><i class="fa fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                    <div class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse erat massa, posuere a euismod vel, tincidunt ac massa. Donec sed vulputate turpis. Donec at semper lorem. Fusce et accumsan tellus.</div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="team-member">
                    <figure class="profile-pic">
                        <img src="http://demo.themeisle.com/zerif-pro/wp-content/uploads/sites/53/2014/07/8203488275_1678c84808_b10-174x174.jpg" alt="TONYA GARCIA">
                    </figure>
                    <div class="member-details">
                        <h5 class="dark-text red-border-bottom">TONYA GARCIA</h5>
                        <div class="position">Account Manager</div>
                    </div>
                    <div class="social-icons">
                        <ul>
                            <li><a title="LinkedIn" href="#" target="_self"><i class="fa fa-linkedin"></i></a></li>
                            <li><a title="Google Plus" href="#" target="_self"><i class="fa fa-google"></i></a></li>
                            <li><a title="Pinterest" href="#" target="_self"><i class="fa fa-pinterest"></i></a></li>
                            <li><a title="Tumblr" href="#" target="_self"><i class="fa fa-tumblr"></i></a></li>
                        </ul>
                    </div>
                    <div class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse erat massa, posuere a euismod vel, tincidunt ac massa. Donec sed vulputate turpis. Donec at semper lorem. Fusce et accumsan tellus.</div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="team-member">
                    <figure class="profile-pic">
                        <img src="http://demo.themeisle.com/zerif-pro/wp-content/uploads/sites/53/2014/07/199585462_95b971c927_b8-174x174.jpg" alt="JASON LANE">
                    </figure>
                    <div class="member-details">
                        <h5 class="dark-text red-border-bottom">JASON LANE</h5>
                        <div class="position">Business Development</div>
                    </div>
                    <div class="social-icons">
                        <ul>
                            <li><a title="Reddit" href="#" target="_self"><i class="fa fa-reddit"></i></a></li>
                            <li><a title="Email" href="mailto:#"><i class="fa fa-envelope"></i></a></li>
                            <li><a title="Website" href="#"><i class="fa fa-globe"></i></a></li>
                            <li><a title="Phone Number" href="tel:#"><i class="fa fa-phone"></i></a></li>
                        </ul>
                    </div>
                    <div class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse erat massa, posuere a euismod vel, tincidunt ac massa. Donec sed vulputate turpis. Donec at semper lorem. Fusce et accumsan tellus.</div>
                </div>
            </div>
        </div>
    </div>
</section>
