<section class="testimonial" id="testimonials">
    <div class="container">
        <div class="section-header">
            <h2 class="white-text">Testimonials</h2>
            <h6 class="white-text">Get testimonials from your clients and then display them here.</h6>
        </div>
        <div class="row" data-scrollreveal="enter right after 0s over 1s">
            <div class="col-md-12">
                <div id="client-feedbacks" class="owl-carousel owl-theme">
                    <div class="feedback-box">
                        <div class="message">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur nec sem vel sapien venenatis mattis non vitae augue. Nullam congue commodo lorem vitae facilisis. Suspendisse malesuada id turpis interdum dictum.</div>
                        <div class="client">
                            <div class="quote red-text"><i class="fa fa-quote-left"></i></div>
                            <div class="client-info">
                                <a class="client-name" target="_blank" href="#">David Lorem</a><div class="client-company">CEO at Codeinwp</div>
                            </div>
                            <div class="client-image hidden-xs">
                                <img src="http://demo.themeisle.com/zerif-pro/wp-content/uploads/sites/53/2014/07/wpid-Featured_Picture69-620x413-73x73.jpg" alt="David Lorem">
                            </div>
                        </div>
                    </div>
                    <div class="feedback-box">
                        <div class="message">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur nec sem vel sapien venenatis mattis non vitae augue. Nullam congue commodo lorem vitae facilisis. Suspendisse malesuada id turpis interdum dictum.</div>
                        <div class="client">
                            <div class="quote red-text"><i class="fa fa-quote-left"></i></div>
                            <div class="client-info">
                                <a class="client-name" target="_blank" href="#">Linda Guthrie</a><div class="client-company">Designer at K&#038;G</div>
                            </div>
                            <div class="client-image hidden-xs">
                                <img src="http://demo.themeisle.com/zerif-pro/wp-content/uploads/sites/53/2014/07/wpid-Featured_Picture137-620x411-73x73.jpg" alt="Linda Guthrie">
                            </div>
                        </div>
                    </div>
                    <div class="feedback-box">
                        <div class="message">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur nec sem vel sapien venenatis mattis non vitae augue. Nullam congue commodo lorem vitae facilisis. Suspendisse malesuada id turpis interdum dictum.</div>
                        <div class="client">
                            <div class="quote red-text"><i class="fa fa-quote-left"></i></div>
                            <div class="client-info">
                                <a class="client-name" target="_blank" href="#">Cynthia Henry</a><div class="client-company">Developer at Newapps</div>
                            </div>
                            <div class="client-image hidden-xs">
                                <img src="http://demo.themeisle.com/zerif-pro/wp-content/uploads/sites/53/2014/07/6844805970_8dc4bcdeb4_b89-73x73.jpg" alt="Cynthia Henry">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
