<div class="jumbotron">
    <h1>Xomorod API</h1>
    <p class="lead">
        Xomorod Corporation is an Iranian multinational technology company specializing in Internet-related services and products.
        These include online advertising technologies, learning, cloud books, tech news, and system or phone software.
        <br/><br />
        <a href="http://api.xomorod.com">Xomorod API</a> is a web API service for use Xomorod.
    </p>
    <p><a href="http://xomorod.com" class="btn btn-primary btn-lg">Show more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Our broad tool-set enables us to partner with you to create and integrate custom solutions.</p>
        <p><a class="btn btn-default" href="http://xomorod.com">Show more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>Most of the application on Xomorod are open source, free to download, and easy to use.</p>
        <p><a class="btn btn-default" href="https://github.com/xomorod">Show more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Xomorod News</h2>
        <p>To show up to date news of most news channels and websites, you can use Xomorod News.</p>
        <p><a class="btn btn-default" href="http://news.xomorod.com">Show more &raquo;</a></p>
    </div>
</div>
