.big-title-container .red-btn:hover {
            color: #fff !important;
        }

        .big-title-container .green-btn:hover {
            color: #fff !important;
        }

        .works .red-border-bottom:before {
            background: #e96656 !important;
        }

        .about-us .skills input {
            color: #fff !important;
        }

        .about-us .our-clients .section-footer-title {
            color: #fff !important;
        }

        .team-member:hover .details {
            background: #333 !important;
        }

        .our-team .row > div:nth-child(4n + 1) .red-border-bottom:before {
            background: #e96656;
        }

        .our-team .row > div:nth-child(4n + 2) .red-border-bottom:before {
            background: #34d293;
        }

        .our-team .row > div:nth-child(4n + 3) .red-border-bottom:before {
            background: #3ab0e2;
        }

        .our-team .row > div:nth-child(4n + 4) .red-border-bottom:before {
            background: #f7d861;
        }

        .testimonial .feedback-box {
            background: #FFFFFF !important;
        }

        .separator-one .green-btn {
            color: #fff !important;
        }

            .separator-one .green-btn:hover {
                color: #fff !important;
            }

        .purchase-now .red-btn {
            color: #fff !important;
        }

            .purchase-now .red-btn:hover {
                color: #fff !important;
            }

        .contact-us button:hover, .pirate_forms .pirate-forms-submit-button:hover {
            color: #fff !important;
        }

        .packages {
            background: rgba(0, 0, 0, 0.5);
        }

        #latestnews {
            background: #fff;
        }

            #latestnews .section-header h2 {
                color: #404040;
            }

            #latestnews .section-header h6 {
                color: #808080;
            }

        section#subscribe {
            background: rgba(0, 0, 0, 0.5) !important;
        }

        #footer .company-details:hover, #footer .company-details a:hover, #footer .footer-widget a:hover {
            color: #e96656 !important;
        }

        #footer .footer-widget h1 {
            color: #fff !important;
        }

            #footer .footer-widget h1:before {
                background: #e96656 !important;
            }