.scroll-top {
    background: rgb(204, 204, 204);
    border-radius: 5px;
    width: 56px;
    height: 56px;
    text-align: center;
    right: 10px;
    bottom: 10px;
    color: rgb(255, 255, 255);
    line-height: 54px;
    font-size: 42px;
    display: none;
    position: fixed;
    z-index: 9;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    text-decoration: none;
    -webkit-box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
    opacity: 0.7;
}

.fa fa-angle-up {
    background: rgb(204, 204, 204);
    border-radius: 5px;
    width: 56px;
    height: 56px;
    text-align: center;
    right: 10px;
    bottom: 10px;
    color: rgb(255, 255, 255);
    line-height: 54px;
    font-size: 42px;
    display: none;
    position: fixed;
    z-index: 9;
}

.scroll-top:hover {
    background: rgb(3, 124, 255);
    color: rgb(255, 255, 255);
    opacity: 1;
}

.scroll-top:link, .scroll-top:visited {
    color: #ffffff;
    text-decoration: none;
    cursor: auto;
}