@using Xomorod.Helper.Resources
@{
    ViewBag.Title = $"{Localization.LoginFailure}";
}

<br /><br />
<h1>@ViewBag.Title</h1>

<div style="padding: 20px;">
    <div class="centered minForms">
        <h3 class="text-danger">@Localization.Unsuccessful_login_with_service</h3>
    </div>
</div>