@using Xomorod.Helper.Resources
@{
    ViewBag.Title = $"{Localization.Forgot_Password_Confirmation}";
}

<br /><br />
<h1>@ViewBag.Title</h1>

<div style="padding: 20px;">
    <div class="centered minForms">
        <p>
            @Localization.Please_check_email_reset_password
        </p>
    </div>
</div>