@using Xomorod.Helper.Resources
@{
    ViewBag.Title = $"{Localization.ResetPasswordConfirmation}";
}

<br /><br />
<h1>@ViewBag.Title</h1>

<div style="padding: 20px;">
    <div class="centered minForms">
        <p>
            @Html.Raw(string.Format(Localization.Your_password_reset_Please_0, Html.ActionLink(Localization.Click_here_to_Log_in, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })))
        </p>
    </div>
</div>