@section Header{
    <div class="clear"></div>
}

<div class="container">
    <div class="content-left-wrap col-md-9">
        <div id="primary" class="content-area">
            <main id="main" class="site-main" role="main">
                <article id="post-5558" class="large-container post-5558 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized">
                    <div class="post-img-wrap-large" itemprop="image">
                        <a href="http://demo.themeisle.com/zerif-pro/2015/04/23/everything-mobile-friendly-and-responsive/" title="Everything Mobile-Friendly and Responsive">
                            <picture> <source media="(max-width: 600px)" srcset="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_413,w_825,x_0,y_48/h_200,w_400/v1451479731/photo-1429041966141-44d228a42775-825x510_wgrte6.jpg"> <source media="(max-width: 768px)" srcset="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_413,w_825,x_0,y_48/h_300,w_600/v1451479731/photo-1429041966141-44d228a42775-825x510_wgrte6.jpg"> <img src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_510,w_765,x_30,y_0/h_500,w_750/v1451479731/photo-1429041966141-44d228a42775-825x510_wgrte6.jpg" alt="Everything Mobile-Friendly and Responsive"> </picture>
                        </a>
                    </div>
                    <div class="listpost-content-wrap-large">
                        <div class="list-post-top">
                            <header class="entry-header">
                                <h1 class="entry-title" itemprop="headline">
                                    <a href="http://demo.themeisle.com/zerif-pro/2015/04/23/everything-mobile-friendly-and-responsive/" rel="bookmark">Everything Mobile-Friendly and Responsive</a>
                                </h1>
                            </header>
                            <div class="entry-content" itemprop="text">
                                <p>Go ahead and try resizing the browser window. Things are going to continue looking great!</p>
                            </div>
                        </div>
                        <footer class="entry-footer-large">
                            <div class="entry-meta-large"><span class="posted-on">Posted on <a href="http://demo.themeisle.com/zerif-pro/2015/04/23/" rel="bookmark"><time class="entry-date published" itemprop="datePublished" datetime="2015-04-23T11:43:57+00:00">April 23, 2015</time></a></span><span class="byline"> by <span class="author vcard" itemprop="name"><a href="http://demo.themeisle.com/zerif-pro/author/codeinwp/" class="url fn n author-link" itemscope="itemscope" itemtype="http://schema.org/Person" itemprop="author">codeinwp</a></span></span></div>
                            <div class="entry-footer-large-left"><span class="cat-links">Posted in <a href="http://demo.themeisle.com/zerif-pro/category/uncategorized/" rel="category tag">Uncategorized</a> </span><span class="comments-link"><a href="http://demo.themeisle.com/zerif-pro/2015/04/23/everything-mobile-friendly-and-responsive/#respond">Leave a comment</a></span></div>
                        </footer>
                    </div>
                </article>
                <article id="post-5555" class="large-container post-5555 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized" itemtype="http://schema.org/BlogPosting" itemtype="http://schema.org/BlogPosting">
                    <div class="post-img-wrap-large" itemprop="image">
                        <a href="http://demo.themeisle.com/zerif-pro/2015/04/23/change-the-order-of-sections/" title="Change the Order of Sections">
                            <picture> <source media="(max-width: 600px)" srcset="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_413,w_825,x_0,y_48/h_200,w_400/v1451479699/Louis_Armstrong_restored-825x510_j11dvy.jpg"> <source media="(max-width: 768px)" srcset="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_413,w_825,x_0,y_48/h_300,w_600/v1451479699/Louis_Armstrong_restored-825x510_j11dvy.jpg"> <img src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_510,w_765,x_30,y_0/h_500,w_750/v1451479699/Louis_Armstrong_restored-825x510_j11dvy.jpg" alt="Change the Order of Sections"> </picture>
                        </a>
                    </div>
                    <div class="listpost-content-wrap-large">
                        <div class="list-post-top">
                            <header class="entry-header">
                                <h1 class="entry-title" itemprop="headline">
                                    <a href="http://demo.themeisle.com/zerif-pro/2015/04/23/change-the-order-of-sections/" rel="bookmark">Change the Order of Sections</a>
                                </h1>
                            </header>
                            <div class="entry-content" itemprop="text">
                                <p>The order of the sections is easily adjustable from the WordPress Customizer so you can display where is needed.</p>
                            </div>
                        </div>
                        <footer class="entry-footer-large">
                            <div class="entry-meta-large"><span class="posted-on">Posted on <a href="http://demo.themeisle.com/zerif-pro/2015/04/23/" rel="bookmark"><time class="entry-date published" itemprop="datePublished" datetime="2015-04-23T11:42:56+00:00">April 23, 2015</time><time class="updated" datetime="2015-12-30T12:53:37+00:00">December 30, 2015</time></a></span><span class="byline"> by <span class="author vcard" itemprop="name"><a href="http://demo.themeisle.com/zerif-pro/author/codeinwp/" class="url fn n author-link" itemscope="itemscope" itemtype="http://schema.org/Person" itemprop="author">codeinwp</a></span></span></div>
                            <div class="entry-footer-large-left"><span class="cat-links">Posted in <a href="http://demo.themeisle.com/zerif-pro/category/uncategorized/" rel="category tag">Uncategorized</a> </span><span class="comments-link"><a href="http://demo.themeisle.com/zerif-pro/2015/04/23/change-the-order-of-sections/#respond">Leave a comment</a></span></div>
                        </footer>
                    </div>
                </article>
                <article id="post-5553" class="large-container post-5553 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized" itemtype="http://schema.org/BlogPosting" itemtype="http://schema.org/BlogPosting">
                    <div class="post-img-wrap-large" itemprop="image">
                        <a href="http://demo.themeisle.com/zerif-pro/2015/04/23/unlimited-color-schemes/" title="Unlimited Color Schemes For You Site">
                            <picture> <source media="(max-width: 600px)" srcset="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_413,w_825,x_0,y_48/h_200,w_400/v1451479684/photo-1429000263672-1b8b4008d2f7-825x510_cceneb.jpg"> <source media="(max-width: 768px)" srcset="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_413,w_825,x_0,y_48/h_300,w_600/v1451479684/photo-1429000263672-1b8b4008d2f7-825x510_cceneb.jpg"> <img src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_510,w_765,x_30,y_0/h_500,w_750/v1451479684/photo-1429000263672-1b8b4008d2f7-825x510_cceneb.jpg" alt="Unlimited Color Schemes For You Site"> </picture>
                        </a>
                    </div>
                    <div class="listpost-content-wrap-large">
                        <div class="list-post-top">
                            <header class="entry-header">
                                <h1 class="entry-title" itemprop="headline">
                                    <a href="http://demo.themeisle.com/zerif-pro/2015/04/23/unlimited-color-schemes/" rel="bookmark">Unlimited Color Schemes For You Site</a>
                                </h1>
                            </header>
                            <div class="entry-content" itemprop="text">
                                <p>Use the theme options panel to customize any given element with the exact color that you desire.</p>
                            </div>
                        </div>
                        <footer class="entry-footer-large">
                            <div class="entry-meta-large"><span class="posted-on">Posted on <a href="http://demo.themeisle.com/zerif-pro/2015/04/23/" rel="bookmark"><time class="entry-date published" itemprop="datePublished" datetime="2015-04-23T11:42:05+00:00">April 23, 2015</time><time class="updated" datetime="2015-12-30T12:53:36+00:00">December 30, 2015</time></a></span><span class="byline"> by <span class="author vcard" itemprop="name"><a href="http://demo.themeisle.com/zerif-pro/author/codeinwp/" class="url fn n author-link" itemscope="itemscope" itemtype="http://schema.org/Person" itemprop="author">codeinwp</a></span></span></div>
                            <div class="entry-footer-large-left"><span class="cat-links">Posted in <a href="http://demo.themeisle.com/zerif-pro/category/uncategorized/" rel="category tag">Uncategorized</a> </span><span class="comments-link"><a href="http://demo.themeisle.com/zerif-pro/2015/04/23/unlimited-color-schemes/#respond">Leave a comment</a></span></div>
                        </footer>
                    </div>
                </article>
                <article id="post-1623" class="large-container post-1623 post type-post status-publish format-standard has-post-thumbnail hentry category-embeds category-excerpt category-featured-images category-formatting category-post-format-gallery category-images category-jetpack category-more-tag category-twitter tag-design-zerif tag-zerif-wordpress-theme" itemtype="http://schema.org/BlogPosting" itemtype="http://schema.org/BlogPosting">
                    <div class="post-img-wrap-large" itemprop="image">
                        <a href="http://demo.themeisle.com/zerif-pro/2015/04/05/excellent-support/" title="Excellent Support And Timely Updates">
                            <picture> <source media="(max-width: 600px)" srcset="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_413,w_825,x_0,y_48/h_200,w_400/v1451479687/photo-1428856472086-8674d9cbd6bc-825x510_abkoxx.jpg"> <source media="(max-width: 768px)" srcset="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_413,w_825,x_0,y_48/h_300,w_600/v1451479687/photo-1428856472086-8674d9cbd6bc-825x510_abkoxx.jpg"> <img src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_510,w_765,x_30,y_0/h_500,w_750/v1451479687/photo-1428856472086-8674d9cbd6bc-825x510_abkoxx.jpg" alt="Excellent Support And Timely Updates"> </picture>
                        </a>
                    </div>
                    <div class="listpost-content-wrap-large">
                        <div class="list-post-top">
                            <header class="entry-header">
                                <h1 class="entry-title" itemprop="headline">
                                    <a href="http://demo.themeisle.com/zerif-pro/2015/04/05/excellent-support/" rel="bookmark">Excellent Support And Timely Updates</a>
                                </h1>
                            </header>
                            <div class="entry-content" itemprop="text">
                                <p>Mauris tempor varius enim bibendum pellentesque. Pellentesque malesuada at velit et congue.</p>
                            </div>
                        </div>
                        <footer class="entry-footer-large">
                            <div class="entry-meta-large"><span class="posted-on">Posted on <a href="http://demo.themeisle.com/zerif-pro/2015/04/05/" rel="bookmark"><time class="entry-date published" itemprop="datePublished" datetime="2015-04-05T18:28:12+00:00">April 5, 2015</time></a></span><span class="byline"> by <span class="author vcard" itemprop="name"><a href="http://demo.themeisle.com/zerif-pro/author/codeinwp/" class="url fn n author-link" itemscope="itemscope" itemtype="http://schema.org/Person" itemprop="author">codeinwp</a></span></span></div>
                            <div class="entry-footer-large-left"><span class="cat-links">Posted in <a href="http://demo.themeisle.com/zerif-pro/category/embeds/" rel="category tag">Embeds</a>, <a href="http://demo.themeisle.com/zerif-pro/category/excerpt/" rel="category tag">Excerpt</a>, <a href="http://demo.themeisle.com/zerif-pro/category/featured-images/" rel="category tag">Featured Images</a>, <a href="http://demo.themeisle.com/zerif-pro/category/formatting/" rel="category tag">Formatting</a>, <a href="http://demo.themeisle.com/zerif-pro/category/post-format-gallery/" rel="category tag">Gallery</a>, <a href="http://demo.themeisle.com/zerif-pro/category/images/" rel="category tag">Images</a>, <a href="http://demo.themeisle.com/zerif-pro/category/jetpack/" rel="category tag">Jetpack</a>, <a href="http://demo.themeisle.com/zerif-pro/category/more-tag/" rel="category tag">More Tag</a>, <a href="http://demo.themeisle.com/zerif-pro/category/twitter/" rel="category tag">Twitter</a> </span><span class="tags-links">Tagged <a href="http://demo.themeisle.com/zerif-pro/tag/design-zerif/" rel="tag">Design Zerif</a>, <a href="http://demo.themeisle.com/zerif-pro/tag/zerif-wordpress-theme/" rel="tag">Zerif WordPress Theme</a> </span><span class="comments-link"><a href="http://demo.themeisle.com/zerif-pro/2015/04/05/excellent-support/#respond">Leave a comment</a></span></div>
                        </footer>
                    </div>
                </article>
                <article id="post-1626" class="large-container post-1626 post type-post status-publish format-standard has-post-thumbnail hentry category-alignment category-captions category-codex category-content category-formatting category-post-format-gallery category-lists category-markup tag-design-zerif tag-zerif-wordpress-theme" itemtype="http://schema.org/BlogPosting" itemtype="http://schema.org/BlogPosting">
                    <div class="post-img-wrap-large" itemprop="image">
                        <a href="http://demo.themeisle.com/zerif-pro/2014/08/05/easy-to-contact/" title="Fast And Great Support">
                            <picture> <source media="(max-width: 600px)" srcset="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_400,w_800,x_0,y_100/h_200,w_400/v1451480038/jibjabprocess_yiid73.png"> <source media="(max-width: 768px)" srcset="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_400,w_800,x_0,y_100/h_300,w_600/v1451480038/jibjabprocess_yiid73.png"> <img src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_533,w_800,x_0,y_33/h_500,w_750/v1451480038/jibjabprocess_yiid73.png" alt="Fast And Great Support"> </picture>
                        </a>
                    </div>
                    <div class="listpost-content-wrap-large">
                        <div class="list-post-top">
                            <header class="entry-header">
                                <h1 class="entry-title" itemprop="headline">
                                    <a href="http://demo.themeisle.com/zerif-pro/2014/08/05/easy-to-contact/" rel="bookmark">Fast And Great Support</a>
                                </h1>
                            </header>
                            <div class="entry-content" itemprop="text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at placerat lacus, vitae feugiat erat. In blandit velit ut consequat bibendum.</p>
                            </div>
                        </div>
                        <footer class="entry-footer-large">
                            <div class="entry-meta-large"><span class="posted-on">Posted on <a href="http://demo.themeisle.com/zerif-pro/2014/08/05/" rel="bookmark"><time class="entry-date published" itemprop="datePublished" datetime="2014-08-05T18:29:38+00:00">August 5, 2014</time></a></span><span class="byline"> by <span class="author vcard" itemprop="name"><a href="http://demo.themeisle.com/zerif-pro/author/codeinwp/" class="url fn n author-link" itemscope="itemscope" itemtype="http://schema.org/Person" itemprop="author">codeinwp</a></span></span></div>
                            <div class="entry-footer-large-left"><span class="cat-links">Posted in <a href="http://demo.themeisle.com/zerif-pro/category/alignment/" rel="category tag">Alignment</a>, <a href="http://demo.themeisle.com/zerif-pro/category/captions/" rel="category tag">Captions</a>, <a href="http://demo.themeisle.com/zerif-pro/category/codex/" rel="category tag">Codex</a>, <a href="http://demo.themeisle.com/zerif-pro/category/content/" rel="category tag">Content</a>, <a href="http://demo.themeisle.com/zerif-pro/category/formatting/" rel="category tag">Formatting</a>, <a href="http://demo.themeisle.com/zerif-pro/category/post-format-gallery/" rel="category tag">Gallery</a>, <a href="http://demo.themeisle.com/zerif-pro/category/lists/" rel="category tag">Lists</a>, <a href="http://demo.themeisle.com/zerif-pro/category/markup/" rel="category tag">Markup</a> </span><span class="tags-links">Tagged <a href="http://demo.themeisle.com/zerif-pro/tag/design-zerif/" rel="tag">Design Zerif</a>, <a href="http://demo.themeisle.com/zerif-pro/tag/zerif-wordpress-theme/" rel="tag">Zerif WordPress Theme</a> </span><span class="comments-link"><a href="http://demo.themeisle.com/zerif-pro/2014/08/05/easy-to-contact/#respond">Leave a comment</a></span></div>
                        </footer>
                    </div>
                </article>
                <article id="post-1678" class="large-container post-1678 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized" itemtype="http://schema.org/BlogPosting" itemtype="http://schema.org/BlogPosting">
                    <div class="post-img-wrap-large" itemprop="image">
                        <a href="http://demo.themeisle.com/zerif-pro/2014/07/15/thank-you/" title="Thank You!">
                            <picture> <source media="(max-width: 600px)" srcset="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_300,w_600,x_0,y_50/h_200,w_400/v1451480017/Thank-you1-e1405429544670_df94ru.jpg"> <source media="(max-width: 768px)" srcset="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto,c_crop,h_300,w_600,x_0,y_50/v1451480017/Thank-you1-e1405429544670_df94ru.jpg"> <img src="http://res.cloudinary.com/vertigo-studio-srl/image/upload/f_auto/v1451480017/Thank-you1-e1405429544670_df94ru.jpg" alt="Thank You!"> </picture>
                        </a>
                    </div>
                    <div class="listpost-content-wrap-large">
                        <div class="list-post-top">
                            <header class="entry-header">
                                <h1 class="entry-title" itemprop="headline">
                                    <a href="http://demo.themeisle.com/zerif-pro/2014/07/15/thank-you/" rel="bookmark">Thank You!</a>
                                </h1>
                            </header>
                            <div class="entry-content" itemprop="text">
                                <p>We wish to thank the following people for the images: Fora do Eixo, RL Johnson, Daniele Zedda, Daniele Zedda, John Steven Fernandez, xvire1969, AllansBrain, Sara Cimino, soundman1024, Gagilas, Symic, rolands.lakis, rolands.lakis, Mike, alicjacolon, Michael Sevilla, Meng To, FireArt Studio.</p>
                            </div>
                        </div>
                        <footer class="entry-footer-large">
                            <div class="entry-meta-large"><span class="posted-on">Posted on <a href="http://demo.themeisle.com/zerif-pro/2014/07/15/" rel="bookmark"><time class="entry-date published" itemprop="datePublished" datetime="2014-07-15T14:14:58+00:00">July 15, 2014</time></a></span><span class="byline"> by <span class="author vcard" itemprop="name"><a href="http://demo.themeisle.com/zerif-pro/author/codeinwp/" class="url fn n author-link" itemscope="itemscope" itemtype="http://schema.org/Person" itemprop="author">codeinwp</a></span></span></div>
                            <div class="entry-footer-large-left"><span class="cat-links">Posted in <a href="http://demo.themeisle.com/zerif-pro/category/uncategorized/" rel="category tag">Uncategorized</a> </span><span class="comments-link"><a href="http://demo.themeisle.com/zerif-pro/2014/07/15/thank-you/#respond">Leave a comment</a></span></div>
                        </footer>
                    </div>
                </article>
                <div class="clear"></div>
                <nav class="navigation paging-navigation" role="navigation">
                    <h1 class="screen-reader-text">Posts navigation</h1>
                    <div class="nav-links">
                        <div class="nav-previous">
                            <a href="http://demo.themeisle.com/zerif-pro/blog/page/2/"><span class="meta-nav">&larr;</span> Older posts</a>
                        </div>
                    </div>
                </nav>
            </main>
        </div>
    </div>
    <div class="sidebar-wrap col-md-3 content-left-wrap">
        <div id="secondary" class="widget-area" role="complementary" itemscope="itemscope" itemtype="http://schema.org/WPSideBar">
            <aside id="search-2" class="widget widget_search">
                <form role="search" method="get" class="search-form" action="http://demo.themeisle.com/zerif-pro/">
                    <label>
                        <span class="screen-reader-text">Search for:</span>
                        <input type="search" class="search-field" placeholder="Search &hellip;" value="" name="s" title="Search for:" />
                    </label>
                    <input type="submit" class="search-submit" value="Search" />
                </form>
            </aside>
            <aside id="recent-posts-2" class="widget widget_recent_entries">
                <h1 class="widget-title">Recent Posts</h1>
                <ul>
                    <li><a href="http://demo.themeisle.com/zerif-pro/2015/04/23/everything-mobile-friendly-and-responsive/">Everything Mobile-Friendly and Responsive</a></li>
                    <li><a href="http://demo.themeisle.com/zerif-pro/2015/04/23/change-the-order-of-sections/">Change the Order of Sections</a></li>
                    <li><a href="http://demo.themeisle.com/zerif-pro/2015/04/23/unlimited-color-schemes/">Unlimited Color Schemes For You Site</a></li>
                    <li><a href="http://demo.themeisle.com/zerif-pro/2015/04/05/excellent-support/">Excellent Support And Timely Updates</a></li>
                    <li><a href="http://demo.themeisle.com/zerif-pro/2014/08/05/easy-to-contact/">Fast And Great Support</a></li>
                </ul>
            </aside>
            <aside id="recent-comments-2" class="widget widget_recent_comments">
                <h1 class="widget-title">Recent Comments</h1>
                <ul id="recentcomments"></ul>
            </aside>
            <aside id="archives-2" class="widget widget_archive">
                <h1 class="widget-title">Archives</h1>
                <ul>
                    <li><a href='http://demo.themeisle.com/zerif-pro/2015/04/'>April 2015</a></li>
                    <li><a href='http://demo.themeisle.com/zerif-pro/2014/08/'>August 2014</a></li>
                    <li><a href='http://demo.themeisle.com/zerif-pro/2014/07/'>July 2014</a></li>
                    <li><a href='http://demo.themeisle.com/zerif-pro/2014/06/'>June 2014</a></li>
                </ul>
            </aside>
            <aside id="categories-2" class="widget widget_categories">
                <h1 class="widget-title">Categories</h1>
                <ul>
                    <li class="cat-item cat-item-6"><a href="http://demo.themeisle.com/zerif-pro/category/alignment/">Alignment</a></li>
                    <li class="cat-item cat-item-7"><a href="http://demo.themeisle.com/zerif-pro/category/captions/">Captions</a></li>
                    <li class="cat-item cat-item-8"><a href="http://demo.themeisle.com/zerif-pro/category/codex/">Codex</a></li>
                    <li class="cat-item cat-item-9"><a href="http://demo.themeisle.com/zerif-pro/category/content/">Content</a></li>
                    <li class="cat-item cat-item-10"><a href="http://demo.themeisle.com/zerif-pro/category/corner-case/">Corner Case</a></li>
                    <li class="cat-item cat-item-11"><a href="http://demo.themeisle.com/zerif-pro/category/embeds/">Embeds</a></li>
                    <li class="cat-item cat-item-12"><a href="http://demo.themeisle.com/zerif-pro/category/excerpt/">Excerpt</a></li>
                    <li class="cat-item cat-item-13"><a href="http://demo.themeisle.com/zerif-pro/category/featured-images/">Featured Images</a></li>
                    <li class="cat-item cat-item-14"><a href="http://demo.themeisle.com/zerif-pro/category/formatting/">Formatting</a></li>
                    <li class="cat-item cat-item-15"><a href="http://demo.themeisle.com/zerif-pro/category/post-format-gallery/">Gallery</a></li>
                    <li class="cat-item cat-item-16"><a href="http://demo.themeisle.com/zerif-pro/category/images/">Images</a></li>
                    <li class="cat-item cat-item-17"><a href="http://demo.themeisle.com/zerif-pro/category/jetpack/">Jetpack</a></li>
                    <li class="cat-item cat-item-18"><a href="http://demo.themeisle.com/zerif-pro/category/post-format-link/">Link</a></li>
                    <li class="cat-item cat-item-19"><a href="http://demo.themeisle.com/zerif-pro/category/lists/">Lists</a></li>
                    <li class="cat-item cat-item-20"><a href="http://demo.themeisle.com/zerif-pro/category/markup/">Markup</a></li>
                    <li class="cat-item cat-item-21"><a href="http://demo.themeisle.com/zerif-pro/category/more-tag/">More Tag</a></li>
                    <li class="cat-item cat-item-23"><a href="http://demo.themeisle.com/zerif-pro/category/twitter/">Twitter</a></li>
                    <li class="cat-item cat-item-1"><a href="http://demo.themeisle.com/zerif-pro/category/uncategorized/">Uncategorized</a></li>
                    <li class="cat-item cat-item-24"><a href="http://demo.themeisle.com/zerif-pro/category/web-design/">Web Design</a></li>
                    <li class="cat-item cat-item-25"><a href="http://demo.themeisle.com/zerif-pro/category/your-category/">Your category</a></li>
                    <li class="cat-item cat-item-26"><a href="http://demo.themeisle.com/zerif-pro/category/zerif/">Zerif</a></li>
                </ul>
            </aside>
            <aside id="meta-2" class="widget widget_meta">
                <h1 class="widget-title">Meta</h1>
                <ul>
                    <li><a rel="nofollow" href="http://demo.themeisle.com/zerif-pro/wp-login.php?action=register">Register</a></li>
                    <li><a rel="nofollow" href="http://demo.themeisle.com/zerif-pro/wp-login.php">Log in</a></li>
                    <li>
                        <a href="http://demo.themeisle.com/zerif-pro/feed/">
                            Entries
                            <abbr title="Really Simple Syndication">RSS</abbr>
                        </a>
                    </li>
                    <li>
                        <a href="http://demo.themeisle.com/zerif-pro/comments/feed/">
                            Comments
                            <abbr title="Really Simple Syndication">RSS</abbr>
                        </a>
                    </li>
                    <li><a href="https://wordpress.org/" title="Powered by WordPress, state-of-the-art semantic personal publishing platform.">WordPress.org</a></li>
                </ul>
            </aside>
        </div>
    </div>
</div>